.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: var(--default-layout-width);
    background-color: rgb(241, 241, 241);
    align-items: center;
}

.content {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
