.post {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 30px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    max-height: 70px;
}

.post-title {
    font-weight: bold;
    font-size: 2rem;
    max-width: 80%;
    text-align: left;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.author {
    display: flex;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.author-name {
    text-align: end;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

.post-time {
    text-align: end;
    font-size: 12px;
    color: #777;
    margin: 0;
}

.post-body {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.show-more,
.show-less {
    background-color: transparent;
    border: none;
    color: var(--primary);
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    margin: 0 10px;
}

.post-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: hidden;

    .info {
        margin-bottom: 10px;
    }

    .info-icon {
        margin-right: 5px;
    }
}

.post-media {
    width: 50%;
}

.address {
    font-weight: bold;
}

.no_image {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 100%;
    border-radius: 20px;
}

.post-buttons {
    display: flex;
    margin-top: auto;
    justify-content: center;
    margin-bottom: 10px;
}

.retract-button {
    color: var(--white);
    background-color: #990000;
    border-color: #990000;
    &:hover {
        background-color: #570000;
        border-color: #570000;
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
}
