// JobPosted.module.scss

.job-received {
    h1 {
        margin: 10px;
    }

    h3 {
        text-align: start;
        background-color: var(--main-color-most-dark);
        color: #fff;
        padding: 5px;
    }

    .jobs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .job {
            background-color: #eeeeee;
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px;
            border-radius: 10px;
            width: 47%;
        }

        button {
            padding: 10px;
            border-radius: 10px;
            margin: 2px;
            cursor: pointer;
            width: 100%;
            color: #fff;
        }

        button:hover {
            opacity: 90%;
        }

        .button-Give-a-feedbaack {
            background-color: rgb(0, 87, 128);
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button {
            margin: 0 5px;
            padding: 8px 12px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}
