.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Một lớp mờ đen khi modal hiển thị */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Đảm bảo modal hiển thị trên cùng */
    // visibility: hidden;
    // opacity: 0;
    transition: visibility 0s, opacity 0.3s ease; /* Hiệu ứng transition khi hiển thị */

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.post {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    .close-button {
        background-color: red;
        &:hover {
            background-color: brown;
        }
    }
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    max-height: 70px;
}

.post-title {
    font-weight: bold;
    font-size: 2rem;
    max-width: 80%;
    text-align: left;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.author {
    display: flex;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.author-name {
    text-align: end;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

.post-time {
    text-align: end;
    font-size: 12px;
    color: #777;
    margin: 0;
}

.post-body {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.show-more,
.show-less {
    background-color: transparent;
    border: none;
    color: var(--primary);
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    margin: 0 10px;
}

.post-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: hidden;

    .info {
        margin-bottom: 10px;
    }

    .info-icon {
        margin-right: 5px;
    }
}

.address {
    font-weight: bold;
}

.no_image {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 100%;
    border-radius: 20px;
}
